@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	font-display: swap;
}

a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.astk{
	width: 100%;
	height: auto;
	background-image: url('./image/F1.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	padding: 60px 0px;
}

.astk__title{
	overflow: hidden;
	position: relative;
}

.astk__content{
	width: calc(100% - 80px);
	max-width: 600px;
	border-radius: 20px;
	padding: 70px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #800517a4;
	box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.astk__content__app{
	padding: 2px 40px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 80px;
	justify-content: space-between;
}

.astk__content__app__image__img{
	width: 100%;
	max-width: 210px;
}

.astk__content__app__link{
	padding: 20px;
	border-radius: 100%;
	margin: 2px 0px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.astk__content__app__link__image{
	position: absolute;
	width: 100%;
}

.astk__content__app__link:hover{
	background: #800517;
}

.astk__content__app_last{
	padding: 0px 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	font-weight: 800;
	height: 100px;
	padding: 50px;
	text-transform: uppercase;
	color: transparent;
	text-align: center;
	letter-spacing: 4px;
	animation-name: focus;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	color:  #800517;
	margin-bottom: 150px;
}

@keyframes focus {

	0% {
		text-shadow:0 0 60px  #800517, 0 10px 20px;
		letter-spacing:10px;
	}
	20% {
		text-shadow:0 0 0 #800517;
		font-size: 80px;
		letter-spacing:10px;
	}
	80% {
		text-shadow:0 0 0 #800517;
		font-size: 80px;
		letter-spacing:10px;
	}
	100% {
		text-shadow:0 0 60px  #800517, 0 10px 20px;
		letter-spacing: 10px;
	}

}
